{% extends 'base.html' %}

{% block content %}


<div class="px-4 py-5 my-5 text-center text-bg-warning border border-dark">
    <h1 class="display-5 fw-bold">CONTACT US</h1>
    <div class="col-lg-6 mx-auto">
        <p class="td">For any queries regarding this website contact me on following:</p>
        <p class="td">Email ID: jayash.19b101093@abes.ac.in</p>
        <p class="td">Twitter handle: @JayashRSY</p>
        <hr>
        <p class="td">Thank you for visiting this website</p>
    </div>
</div>



{% endblock %}